body{
    background-color:brown ;
}
html{
    font-size: 15px;

}
img{
    width: 100%;
}
.card {
    border: 100PX;
width: 26.3%;
padding: 10PX;
border-color: #CCC;
background-color: white;
border-radius: 0.3rem;
margin: 30px auto;
}
h1{
    text-align: center;
}
.cards-info {
height: 300px;
width: 0 auto;
padding: 0px 10px 10px 10px 
}

.img{
    width: 400px;
    margin:  auto;
}
